---
import Header from "../sections/Header.astro";
import Intro from "../sections/Intro.astro";
import Meetup from "../sections/Meetup.astro";
import Youtube from "../sections/Youtube.astro";
import Partners from "../sections/Partners.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FEDSA</title>
  </head>
  <body>
    <header><Header /></header>
    <a>asdsa</a>

    <main>
      <section><Intro /></section>
      <section><Meetup /></section>
      <section><Youtube /></section>
      <section><Partners /></section>
      <section><Contact /></section>
    </main>

    <footer><Footer /></footer>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </body>
</html>
