/* Add global styles, e.g. font-face, variables */

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  background-color: #F6F6F6;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}